{% extends 'layout.html' %}
{% load static %}
{% block body_content %}  
    <div class="content">
        <div class="row m0p0 ">
            <div class="col-lg-12 m0p0">

                <div class="col-lg-12 m0p0">
                    <img src="{% static 'img/about/Group 775.png' %}" alt="main_about" width="100%" height="473px">
                </div>

                <div class="col-lg-12 d-flex justify-content-center m0p0" style="background-color: #F8F7F5;">
                    <div class="col-lg-9 d-flex justify-content-between m0p0 ">

                        <div class="col-lg-5 pr-3 pt-3  m0p0" >
                            <div class="col-lg-10 border p-5 mt-5 mb-5" style="background-color: #807C78; border-radius: 12px;">
                                <p class="text-light" >
                                    Agave Sotheby's International Realty
                                </p>
                                <div >
                                    
                                    <p class="text-light">
                                        <img src="{% static 'img/about/Vector.svg' %}" alt="Vector">
                                        Hospicio 37, Centro San Miguel De Allende, Guanajuato
                                    </p>
                                </div>
                                <div>
                                    <p class="text-light">
                                        tel:+54.11.4805.3338
                                    </p>
                                </div>
                            </div>

                        </div>


                        <div class="col-lg-6 m0p0">
                            <div class="p-3 mt-5 mb-5">
                                <h3 style="line-height: 42px; font-size: 28px;">
                                    Winter Park, United States
                                </h3>
                                <p style="font-size: 16px; font-family: Roboto;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                                     Excepteur sint occaecat cupidatat non proident, 
                                    sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row m0p0">
            <div class="col-lg-12 d-flex justify-content-center m0p0">
                <div class="col-lg-9 m0p0 pb-3">
                    <div class="pt-5 pb-5">
                        <h3 >
                            <b>
                                Our agents
                            </b>
                        </h3>
                    </div>
                    <div class="col-lg-12 m0p0 pb-5 d-flex justify-content-between">
                        <div class="col-lg-5 d-flex m0p0">
                            <div class="col-lg-6 rounded-circle m0p0">
                                <img src="{% static 'img/about/Group 322.2.png' %}" width="180px" height="180px" alt="agent1">
                            </div>
                            <div class="col-lg-6 m0p0">
                                <h4 name="name">
                                    Sophie French
                                </h4>
                                <div class="d-flex">
                                    <div class="pt-1">
                                        <img class="mt-3 " src="{% static 'img/about/Vector (1).svg' %}" width="15px" height="15px" alt="vector2">
                                    </div>
                                    <a class="p-3" href="#" style="color: orange;">
                                       <b>
                                        Call
                                       </b>
                                    </a>
                                    <span class="pt-3">
                                        +54.11.4805.3338
                                    </span>
                                </div>
                                <div  class="d-flex">
                                    <div class="pt-1">
                                        <img src="{% static 'img/about/Vector3.svg' %}" width="14px" height="14px" alt="vector3">
                                    </div>

                                    <div class="pt-1">
                                        <span  class="text-dark ms-3 ">
                                          <b>
                                            23
                                          </b>  
                                        </span>
                                        <span>
                                            Listing
                                        </span>
                                    </div>
                                </div>
                                <div class="pt-3">
                                    <button class="btn" style="background-color: #D1964C; width: 150px; height: 42px;">
                                       <b class="text-light ">
                                           Open Profile
                                        </b> 
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 d-flex m0p0">
                            <div class="col-lg-6 rounded-circle m0p0">
                                <img src="{% static 'img/about/Group 322.2.png' %}" width="180px" height="180px" alt="agent1">
                            </div>
                            <div class="col-lg-6 m0p0">
                                <h4 name="name">
                                    Sophie French
                                </h4>
                                <div class="d-flex">
                                    <div class="pt-1">
                                        <img class="mt-3 " src="{% static 'img/about/Vector (1).svg' %}" width="15px" height="15px" alt="vector2">
                                    </div>
                                    <a class="p-3" href="#" style="color: orange;">
                                       <b>
                                        Call
                                       </b>
                                    </a>
                                    <span class="pt-3">
                                        +54.11.4805.3338
                                    </span>
                                </div>
                                <div  class="d-flex">
                                    <div class="pt-1">
                                        <img src="{% static 'img/about/Vector3.svg' %}" width="14px" height="14px" alt="vector3">
                                    </div>

                                    <div class="pt-1">
                                        <span  class="text-dark ms-3 ">
                                          <b>
                                            23
                                          </b>  
                                        </span>
                                        <span>
                                            Listing
                                        </span>
                                    </div>
                                </div>
                                <div class="pt-3">
                                    <button class="btn" style="background-color: #D1964C; width: 150px; height: 42px;">
                                       <b class="text-light ">
                                           Open Profile
                                        </b> 
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 m0p0 pb-5 d-flex justify-content-between">
                        <div class="col-lg-5 d-flex m0p0">
                            <div class="col-lg-6 rounded-circle m0p0">
                                <img src="{% static 'img/about/Group 322.2.png' %}" width="180px" height="180px" alt="agent1">
                            </div>
                            <div class="col-lg-6 m0p0">
                                <h4 name="name">
                                    Sophie French
                                </h4>
                                <div class="d-flex">
                                    <div class="pt-1">
                                        <img class="mt-3 " src="{% static 'img/about/Vector (1).svg' %}" width="15px" height="15px" alt="vector2">
                                    </div>
                                    <a class="p-3" href="#" style="color: orange;">
                                       <b>
                                        Call
                                       </b>
                                    </a>
                                    <span class="pt-3">
                                        +54.11.4805.3338
                                    </span>
                                </div>
                                <div  class="d-flex">
                                    <div class="pt-1">
                                        <img src="{% static 'img/about/Vector3.svg' %}" width="14px" height="14px" alt="vector3">
                                    </div>

                                    <div class="pt-1">
                                        <span  class="text-dark ms-3 ">
                                          <b>
                                            23
                                          </b>  
                                        </span>
                                        <span>
                                            Listing
                                        </span>
                                    </div>
                                </div>
                                <div class="pt-3">
                                    <button class="btn" style="background-color: #D1964C; width: 150px; height: 42px;">
                                       <b class="text-light ">
                                           Open Profile
                                        </b> 
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 d-flex m0p0">
                            <div class="col-lg-6 rounded-circle m0p0">
                                <img src="{% static 'img/about/Group 322.2.png' %}" width="180px" height="180px" alt="agent1">
                            </div>
                            <div class="col-lg-6 m0p0">
                                <h4 name="name">
                                    Sophie French
                                </h4>
                                <div class="d-flex">
                                    <div class="pt-1">
                                        <img class="mt-3 " src="{% static 'img/about/Vector (1).svg' %}" width="15px" height="15px" alt="vector2">
                                    </div>
                                    <a class="p-3" href="#" style="color: orange;">
                                       <b>
                                        Call
                                       </b>
                                    </a>
                                    <span class="pt-3">
                                        +54.11.4805.3338
                                    </span>
                                </div>
                                <div  class="d-flex">
                                    <div class="pt-1">
                                        <img src="{% static 'img/about/Vector3.svg' %}" width="14px" height="14px" alt="vector3">
                                    </div>

                                    <div class="pt-1">
                                        <span  class="text-dark ms-3 ">
                                          <b>
                                            23
                                          </b>  
                                        </span>
                                        <span>
                                            Listing
                                        </span>
                                    </div>
                                </div>
                                <div class="pt-3">
                                    <button class="btn" style="background-color: #D1964C; width: 150px; height: 42px;">
                                       <b class="text-light ">
                                           Open Profile
                                        </b> 
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12 pb-5 m0p0 d-flex justify-content-between">
                        <div class="col-lg-5 d-flex m0p0">
                            <div class="col-lg-6 rounded-circle m0p0">
                                <img src="{% static 'img/about/Group 322.2.png' %}" width="180px" height="180px" alt="agent1">
                            </div>
                            <div class="col-lg-6 m0p0">
                                <h4 name="name">
                                    Sophie French
                                </h4>
                                <div class="d-flex">
                                    <div class="pt-1">
                                        <img class="mt-3 " src="{% static 'img/about/Vector (1).svg' %}" width="15px" height="15px" alt="vector2">
                                    </div>
                                    <a class="p-3" href="#" style="color: orange;">
                                       <b>
                                        Call
                                       </b>
                                    </a>
                                    <span class="pt-3">
                                        +54.11.4805.3338
                                    </span>
                                </div>
                                <div  class="d-flex">
                                    <div class="pt-1">
                                        <img src="{% static 'img/about/Vector3.svg' %}" width="14px" height="14px" alt="vector3">
                                    </div>

                                    <div class="pt-1">
                                        <span  class="text-dark ms-3 ">
                                          <b>
                                            23
                                          </b>  
                                        </span>
                                        <span>
                                            Listing
                                        </span>
                                    </div>
                                </div>
                                <div class="pt-3">
                                    <button class="btn" style="background-color: #D1964C; width: 150px; height: 42px;">
                                       <b class="text-light ">
                                           Open Profile
                                        </b> 
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 d-flex m0p0">
                            <div class="col-lg-6 rounded-circle m0p0">
                                <img src="{% static 'img/about/Group 322.2.png' %}" width="180px" height="180px" alt="agent1">
                            </div>
                            <div class="col-lg-6 m0p0">
                                <h4 name="name">
                                    Sophie French
                                </h4>
                                <div class="d-flex">
                                    <div class="pt-1">
                                        <img class="mt-3 " src="{% static 'img/about/Vector (1).svg' %}" width="15px" height="15px" alt="vector2">
                                    </div>
                                    <a class="p-3" href="#" style="color: orange;">
                                       <b>
                                        Call
                                       </b>
                                    </a>
                                    <span class="pt-3">
                                        +54.11.4805.3338
                                    </span>
                                </div>
                                <div  class="d-flex">
                                    <div class="pt-1">
                                        <img src="{% static 'img/about/Vector3.svg' %}" width="14px" height="14px" alt="vector3">
                                    </div>

                                    <div class="pt-1">
                                        <span  class="text-dark ms-3 ">
                                          <b>
                                            23
                                          </b>  
                                        </span>
                                        <span>
                                            Listing
                                        </span>
                                    </div>
                                </div>
                                <div class="pt-3">
                                    <button class="btn" style="background-color: #D1964C; width: 150px; height: 42px;">
                                       <b class="text-light ">
                                           Open Profile
                                        </b> 
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m0p0">
            <div class="col-lg-12 m0p0 d-flex justify-content-center" style="background-color:  #F8F7F5;;">
                <div class="col-lg-9 m0p0">
                    <h3 class="pt-5 pb-5">
                        <b>
                            About us
                        </b>
                    </h3>
                    <div class="pb-5">
                        <p>
                            Using Atlanta real estate agents that are Atlanta REALTORS® can be beneficial when you are selling or buying a home. 
                            Many of these brokers and agents understand the local market, actual property values, and the trends and issues that are occurring in Atlanta. 
                            Additionally, local REALTORS® know other local real estate agents and professionals, and can help you find trustworthy professionals to help sell your home. 
                            If you are moving to Atlanta, a local agent can give you a tour around the Atlanta as you look for the right neighborhood and home. 
                            Utilize a REALTOR® and advance yourself in the Atlanta real estate market.
                        </p>
                        <p>
                            No matter what type of real estate needs you have, finding the local real estate professional you want to work with is the first step. 
                            The California real estate directory lets you view and compare real estate agents, read reviews, see an agent's current listings and past sales, and contact agents directly from their profile pages on RealZain.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}