{% extends 'layout.html' %}
{% load static %}
{% block body_content %}  
<div class="row m0p0">
    <div class="col-12 m0p0 d-flex justify-content-center ">
        <div class="col-9 mt-5 mb-5 m0p0">
            <div>
                <p class="text-uppercase" style="color: #D1964C;">
                    trends
                </p>
            </div>

            <div class="col-8 m0p0">
                <h1>
                    8 Things You Need to Prep Your Home for Fall: Do You Have Them All?
                </h1>
            </div>

            <div class="text__gray pt-3 pb-3">
                Jule 4th, 2019
            </div>
            
            <div class="col-12 m0p0 mb-5">
                <img width="100%" src="{% static 'img/newsblog/open/Rectangle17.6.png' %}" alt="main_pic">
            </div>


            <div class="col-12 m0p0 d-flex justify-content-start">
                <div class="col-3 m0p0">
                    <div>
                        <h4>
                            Stay tuned for all updates
                        </h4>
                    </div>

                    <div class="mt-5">
                        <div class="d-flex ">

                            <div class="p-1">
                                <img width="100%" src="{% static 'img/newsblog/open/facebook-f.png' %}" alt="face">
                            </div>
    
                            <div class="pl-3">
                               <p>
                                   Facebook
                               </p>
                            </div>
                        </div>

                        <div class="d-flex ">

                            <div class="p-1">
                                <img width="100%" src="{% static 'img/newsblog/open/twitter.png' %}" alt="Twitt">
                            </div>
    
                            <div class="pl-3">
                               <p>
                                   Twitter
                               </p>
                            </div>
                        </div>

                        <div class="d-flex ">

                            <div class="p-1">
                                <img width="100%" src="{% static 'img/newsblog/open/Group 230.png' %}" alt="Ins">
                            </div>
    
                            <div class="pl-3">
                               <p>
                                   Instagram
                               </p>
                            </div>
                        </div>

                        <div class="d-flex ">

                            <div class="p-1">
                                <img width="100%" src="{% static 'img/newsblog/open/youtube.png' %}" alt="youtube">
                            </div>
    
                            <div class="pl-3">
                               <p>
                                   Youtube
                               </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8 m0p0">
                    <div class="col-12 m0p0">
                        <p>
                            Fall is the perfect time to get your house in order. Whether you have leaves to rake or gutters to clean, or want to get your indoors comfy and organized for those long winter months, your autumn to-do list is calling—and the right tools and items can make your job a whole lot easier.
                        </p>
                        <p>
                            Need some inspiration? Here are a few items that can help jump-start your fall maintenance chores—along with some selected online reviews—so you're sitting pretty by the time winter is knocking on your door. (It'll be here before you know it!)
                        </p>
                        <p>
                            Whether you're ready to clean your driveway, deck, windows, and patio, this electric pressure washer (homedepot.com, $199) delivers a burly 2,000 psi (pounds per square inch) and comes with three nozzles as well as a bonus turbo nozzle, which delivers up to 50% more cleaning power.
                        </p>
                            <p>
                            Reviewer hpiguy writes, "I love the tall handle and the large wheels on the steel frame. It makes the washer very stable in the yard when washing siding, or for when it has to sit on a deck for stripping old paint/stain. It's also easy to move around."
                        </p>
                    </div>

                    <div class="col-12 m0p0 mt-5">
                        <div class="mb-5">
                            <h4>
                                Stay tuned for all updates
                            </h4>
                        </div>

                        <div>
                            <img src="{% static 'img/newsblog/open/Rectangle176.png' %}" alt="second_pic">
                        </div>

                        <div class="pt-3">
                            <p>
                                This 12-amp, multitasking maven serves as a leaf blower/vacuum/gutter cleaner (homedepot.com, $102) all in one.

                            </p>
                            <p>
                                The blower boasts a powerful 260 mph airstream so you can piles those leaves in no time and give your rake the weekend off. Keep your gutters in good shape with the cleaning kit, which includes additional extension tubes, allowing you to tackle hard-to-reach places.

                            </p>
                            <p>
                                On average, nationally, gutter cleaning costs between $75 and $125 depending on the size of your home and the number of trees shading it, so this gadget may pay for itself in just one cleaning.

                            </p>
                            <p>
                                Reviewer C. Smith raves, "Excellent shower head. I was very worried about the water pressure on these things, considering I was going from some super powerful shower head to this little low water one. I gotta say: it DEFINITELY surprised me."

                            </p>
                            <p>
                                Reviewer Erin writes, "We have some kitties and after one of them got sick we thought our light beige carpet was history. We were blown away after using the Pet Plus. We gave it lots of time and really cleaned it thoroughly. All the stains were gone, and quite honestly it looked like a new carpet. Did I mention the carpet is 10 years old?"

                            </p>
                            <p>
                                To tackle dirt and dust indoors, this upright carpet cleaner (homedepot.com, $168) packs the high-performance power of a professional cleaning product. Its large-capacity water tank holds 1.25 gallons so you don't waste time emptying and refilling it midjob. Designed with pet owners in mind, this tool will save you from tossing that carpet after an accident.

                            </p>



                        </div>

                        <div class="mt-5">
                            <h2>
                                Newest Updates
                            </h2>
                
                            <p>
                                Our realtors will deliver you the best offers and news about our service.
                            </p>
                            <form action="/"></form>
                                <div class="d-flex col-6 m0p0">
                                    
                                        <input type="text" class="form-control mr-5" name="inp" id="" placeholder="Enter your email adress">
                                        <button type="submit" class="btn text-light" style="background-color: #D1964C;;">
                                            Subscribe
                                        </button>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

   
    

    <!-- Дополнительный JavaScript; выберите один из двух! -->

    <!-- Вариант 1: Bootstrap в связке с Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Вариант 2: Bootstrap JS отдельно от Popper
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
{% endblock %}