{% extends 'layout.html' %}
{% load static %}
{% block body_content %}  
    <div class="row m0p0" style="background-color: F1F1F1;">
        <div class="col-lg-12 m0p0">
            <div class="col-lg-12 m0p0 d-flex justify-content-center">
                <div class="col-lg-9 m0p0 mb-5" >
                    <div class="pb-3 mb-4 mt-3">
                        <h4 class="mb-4">
                           Latest news
                        </h4>
                        <div class="m0p0">
                            <img width="100%" src="{% static 'img/newsblog/Group 325.1.png' %}" alt="group">
                        </div>
                    </div>
                    
                    <div class="d-flex">
                        <div class="col-9 m0p0">
                            <img width="100%" src="{% static 'img/newsblog/Rectangle 56.png' %}" alt="main_pic">
                        </div>
                        <div class="col-3 m0p0 pr-3 pl-3 pb-3">
                            <p class="text-uppercase" style="color:  #D1964C;">
                                sponsored content
                            </p>
                            <a href="{% url 'news_blog_open' %}">
                                <h3 class="text__1">
                                    Untouched Midcentury Modern Gem in Palo Alto Snapped Up in 2 Weeks
                                </h3>
                            </a>

                            <p class="text__2 mt-4">
                                One factor to consider when applying: the impact of your home’s equity on financial aid. But prepare yourself. It seemingly takes an advanced degree...
                            </p>

                            <p class="date__" style="color: #AAA7A5;">
                                Jule 4th, 2019
                            </p>
                        </div>
                    </div>

                    <div class="col-12 m0p0 mt-5 d-flex justify-content-between">
                        <div class=" m0p0" style="width: 24%;">

                            <img width="100%" src="{% static 'img/newsblog/Rectangle175.png' %}" alt="">
                            
                            <div class="box-content">
                                <div class="sponsored pt-3 pb-3" style="color: #D1964C;">
                                    <p class="text-uppercase">
                                        sponsored content
                                    </p>
                                </div>
                                <div>
                                    <a href="{% url 'news_blog_open' %}">
                                        <h4 class="text__3">
                                            The 5 Biggest Mistakes Veteran and Military Home Buyers Make
                                        </h4>
                                    </a>
                                </div>

                                <div class="pt-3 pb-3 text__gray">
                                    <p>
                                        Jule 4th, 2019
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class=" m0p0" style="width: 24%;">

                            <img width="100%" src="{% static 'img/newsblog/Rectangle174.png' %}" alt="">
                            
                            <div class="box-content">
                                <div class="sponsored pt-3 pb-3" style="color: #D1964C;">
                                    <p class="text-uppercase">
                                        trends
                                    </p>
                                </div>
                                <div>
                                    <a href="{% url 'news_blog_open' %}">
                                        <h4 class="text__3">
                                            We're Blushing! 'Romance' Is the New Color of the Year We'd Actually Use at Home
                                        </h4>
                                    </a>
                                </div>

                                <div class="pt-3 pb-3 text__gray">
                                    <p>
                                        Jule 4th, 2019
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class=" m0p0" style="width: 24%; position: relative;">

                            <img width="100%" src="{% static 'img/newsblog/Rectangle177.png' %}" alt="">
                            <div style="position: absolute; top: 25%; left: 38%;">
                                <img src="{% static 'img/newsblog/play-circle1.png' %}" alt="">
                            </div>

                            <div class="box-content">
                                <div class="sponsored pt-3 pb-3" style="color: #D1964C;">
                                    <p class="text-uppercase">
                                        sell
                                    </p>
                                </div>
                                <div>
                                    <a href="{% url 'news_blog_open' %}">
                                        <h4 class="text__3">
                                            Untouched Midcentury Modern Gem in Palo Alto Snapped Up in 2 Weeks
                                        </h4>
                                    </a>
                                </div>

                                <div class="pt-3 pb-3 text__gray">
                                    <p>
                                        Jule 4th, 2019
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class=" m0p0" style="width: 24%;">

                            <img width="100%" src="{% static 'img/newsblog/Rectangle176.png' %}" alt="">
                            
                            <div class="box-content">
                                <div class="sponsored pt-3 pb-3" style="color: #D1964C;">
                                    <p class="text-uppercase">
                                        trends
                                    </p>
                                </div>
                                <div>
                                    <a href="{% url 'news_blog_open' %}">
                                        <h4 class="text__3">
                                            You’d Be Amazed by What You Can Get for $100K Across the Country
                                        </h4>
                                    </a>
                                </div>

                                <div class="pt-3 pb-3 text__gray">
                                    <p>
                                        Jule 4th, 2019
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="pb-3 mb-4 mt-3">
                        <h4 class="mb-4">
                            Real estate news
                        </h4>
                        <div class="m0p0">
                            <img width="100%" src="{% static 'img/newsblog/Group 325.1.png' %}" alt="group">
                        </div>
                    </div>

                    <div class="d-flex">
                        
                        <div class="col-3 m0p0 pr-3 pb-3">
                            <p class="text-uppercase" style="color: #D1964C;">
                                sponsored content
                            </p>
                            <a href="{% url 'news_blog_open' %}">
                                <h3 class="text__1">
                                    Untouched Midcentury Modern Gem in Palo Alto Snapped Up in 2 Weeks
                                </h3>
                            </a>

                            <p class="text__2 mt-4">
                                One factor to consider when applying: the impact of your home’s equity on financial aid. But prepare yourself. It seemingly takes an advanced degree...
                            </p>

                            <p class="date__" style="color: #AAA7A5;">
                                Jule 4th, 2019
                            </p>
                        </div>

                        <div class="col-9 m0p0">
                            <img width="100%" src="{% static 'img/newsblog/Rectangle56.png' %}" alt="main_pic">
                        </div>
                    </div>

                    <div class="col-12 m0p0 mt-5 d-flex justify-content-between">
                        <div class=" m0p0" style="width: 24%;">

                            <img width="100%" src="{% static 'img/newsblog/Rectangle626.png' %}" alt="">
                            
                            <div class="box-content">
                                <div class="sponsored pt-3 pb-3" style="color: #D1964C;">
                                    <p class="text-uppercase">
                                        sponsored content
                                    </p>
                                </div>
                                <div>
                                    <a href="{% url 'news_blog_open' %}">
                                        <h4 class="text__3">
                                            The 5 Biggest Mistakes Veteran and Military Home Buyers Make
                                        </h4>
                                    </a>
                                </div>

                                <div class="pt-3 pb-3 text__gray">
                                    <p>
                                        Jule 4th, 2019
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class=" m0p0" style="width: 24%;">

                            <img width="100%" src="{% static 'img/newsblog/Rectangle17.4.png' %}" alt="">
                            <div style="position: absolute; top: 28%; left: 35%;">
                                <img src="{% static 'img/newsblog/play-circle1.png' %}" alt="">
                            </div>
                            
                            <div class="box-content">
                                <div class="sponsored pt-3 pb-3" style="color: #D1964C;">
                                    <p class="text-uppercase">
                                        trends
                                    </p>
                                </div>
                                <div>
                                    <a href="{% url 'news_blog_open' %}">
                                        <h4 class="text__3">
                                            We're Blushing! 'Romance' Is the New Color of the Year We'd Actually Use at Home
                                        </h4>
                                    </a>
                                </div>

                                <div class="pt-3 pb-3 text__gray">
                                    <p>
                                        Jule 4th, 2019
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class=" m0p0" style="width: 24%;">

                            <img width="100%" src="{% static 'img/newsblog/Rectangle177.png' %}" alt="">
                            

                            <div class="box-content">
                                <div class="sponsored pt-3 pb-3" style="color: #D1964C;">
                                    <p class="text-uppercase">
                                        sell
                                    </p>
                                </div>
                                <div>
                                    <a href="{% url 'news_blog_open' %}">
                                        <h4 class="text__3">
                                            Untouched Midcentury Modern Gem in Palo Alto Snapped Up in 2 Weeks
                                        </h4>
                                    </a>
                                </div>

                                <div class="pt-3 pb-3 text__gray">
                                    <p>
                                        Jule 4th, 2019
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class=" m0p0" style="width: 24%;">

                            <img width="100%" src="{% static 'img/newsblog/Rectangle17.6.png' %}" alt="">
                            
                            <div class="box-content">
                                <div class="sponsored pt-3 pb-3" style="color: #D1964C;">
                                    <p class="text-uppercase">
                                        trends
                                    </p>
                                </div>
                                <div>
                                    <a href="{% url 'news_blog_open' %}">
                                        <h4 class="text__3">
                                            You’d Be Amazed by What You Can Get for $100K Across the Country
                                        </h4>
                                    </a>
                                </div>

                                <div class="pt-3 pb-3 text__gray">
                                    <p>
                                        Jule 4th, 2019
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 m0p0 mt-5 d-flex justify-content-between">
                        <div class=" m0p0" style="width: 24%;">

                            <img width="100%" src="{% static 'img/newsblog/Rectangle175.png' %}" alt="">
                            
                            <div class="box-content">
                                <div class="sponsored pt-3 pb-3" style="color: #D1964C;">
                                    <p class="text-uppercase">
                                        sponsored content
                                    </p>
                                </div>
                                <div>
                                    <a href="{% url 'news_blog_open' %}">
                                        <h4 class="text__3">
                                            The 5 Biggest Mistakes Veteran and Military Home Buyers Make
                                        </h4>
                                    </a>
                                </div>

                                <div class="pt-3 pb-3 text__gray">
                                    <p>
                                        Jule 4th, 2019
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class=" m0p0" style="width: 24%;">

                            <img width="100%" src="{% static 'img/newsblog/Rectangle174.png' %}" alt="">
                            
                            <div class="box-content">
                                <div class="sponsored pt-3 pb-3" style="color: #D1964C;">
                                    <p class="text-uppercase">
                                        trends
                                    </p>
                                </div>
                                <div>
                                    <a href="{% url 'news_blog_open' %}">
                                        <h4 class="text__3">
                                            We're Blushing! 'Romance' Is the New Color of the Year We'd Actually Use at Home
                                        </h4>
                                    </a>
                                </div>

                                <div class="pt-3 pb-3 text__gray">
                                    <p>
                                        Jule 4th, 2019
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class=" m0p0" style="width: 24%; position: relative;">

                            <img width="100%" src="{% static 'img/newsblog/Rectangle177.png' %}" alt="">
                            <div style="position: absolute; top: 40%; left: 40%;">
                                <img src="{% static 'img/newsblog/play-circle1.png' %}" alt="">
                            </div>

                            <div class="box-content">
                                <div class="sponsored pt-3 pb-3" style="color: #D1964C;">
                                    <p class="text-uppercase">
                                        sell
                                    </p>
                                </div>
                                <div>
                                    <a href="{% url 'news_blog_open' %}">
                                        <h4 class="text__3">
                                            Untouched Midcentury Modern Gem in Palo Alto Snapped Up in 2 Weeks
                                        </h4>
                                    </a>
                                </div>

                                <div class="pt-3 pb-3 text__gray">
                                    <p>
                                        Jule 4th, 2019
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class=" m0p0" style="width: 24%;">

                            <img width="100%" src="{% static 'img/newsblog/Rectangle176.png' %}" alt="">
                            
                            <div class="box-content">
                                <div class="sponsored pt-3 pb-3" style="color: #D1964C;">
                                    <p class="text-uppercase">
                                        trends
                                    </p>
                                </div>
                                <div>
                                    <a href="{% url 'news_blog_open' %}">
                                        <h4 class="text__3">
                                            You’d Be Amazed by What You Can Get for $100K Across the Country
                                        </h4>
                                    </a>
                                </div>

                                <div class="pt-3 pb-3 text__gray">
                                    <p>
                                        Jule 4th, 2019
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-12 m0p0 d-flex justify-content-between">
                        <div class="col-3 m0p0 pages d-flex">
                            <button class="btn btn-sm btn-default">1</button>
                            <button class="btn btn-sm btn-default">2</button>
                            <button class="btn btn-sm btn-default">3</button>
                            <button class="btn btn-sm btn-default">...</button>
                            <button class="btn btn-sm btn-default">11</button>
                            <button class="btn btn-sm btn-default">12</button>
                            <button class="btn btn-sm btn-default">13</button>
                        </div>

                        <div class="col-3 m0p0 d-flex justify-content-end">
                            <a href="#" class="d-flex">
                                <p>
                                    Next
                                </p>
                                <span class="pt-1 pl-2">
                                    <img height="12px" src="{% static 'img/newsblog/Vector80.png' %}" alt="vector">
                                </span>
                            </a>
                        </div>
                    </div>

                    

                </div>
            </div>
            
        </div>

    </div>

    <div class="row m0p0" style="background-color:  #F8F7F6;">
        <div class="col-12 m0p0 d-flex justify-content-center">
            <div class="col-9 m0p0">
                <div class="mt-5 mb-5 d-flex justify-content-between">
                    <div class="col-4">
                        <h3 >
                            Our realtors advise
                        </h3>

                    </div>

                    <div class="col-2 m0p0 d-flex justify-content-end">
                        <a href="#" >
                            <b style="color:#CB934A">
                                View 9 more >
                            </b>
                        </a>
                    </div>
                </div>

                <div class="col-12 m0p0 mb-5 mt-5 d-flex justify-content-between">
                    <div class=" m0p0" style="width: 24%;">

                        <img width="100%" src="{% static 'img/newsblog/Rectangle60.png' %}" alt="">
                        
                        <div class="box-content">
                            
                            <div class="pt-3">
                                <a href="#" class="m0p0 text__4" style="font-size: 15px; line-height: 22px;">
                                    <b>
                                        How to Find an Apartment With a Real Estate Agent's Help
                                    </b>
                                </a>
                            </div>

                            <div class="pt-3 pb-3 d-flex">
                                <div class="pt-2 pb-2 pr-2">
                                    <img src="{% static 'img/newsblog/Rectangle41.png' %}" alt="ava">
                                </div>
                                <div class="pt-1">
                                    <span class="text__5">
                                        <b>
                                            By Sophie French
                                        </b>
                                    </span>
                                    <br>
                                    
                                    <span class="text__gray">
                                        Jule 4th, 2019
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" m0p0" style="width: 24%;">

                        <img width="100%" src="{% static 'img/newsblog/Rectangle60.1.png' %}" alt="">
                        
                        <div class="box-content">
                            
                            <div class="pt-3">
                                <a href="#" class="m0p0 text__4" style="font-size: 15px; line-height: 22px;">
                                    <b>
                                        How to Find an Apartment With a Real Estate Agent's Help
                                    </b>
                                </a>
                            </div>

                            <div class="pt-3 pb-3 d-flex">
                                <div class="pt-2 pb-2 pr-2">
                                    <img src="{% static 'img/newsblog/Rectangle41.1.png' %}" alt="ava">
                                </div>
                                <div class="pt-1">
                                    <span class="text__5">
                                        <b>
                                            By Sophie French
                                        </b>
                                    </span>
                                    <br>
                                    
                                    <span class="text__gray">
                                        Jule 4th, 2019
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" m0p0" style="width: 24%;">

                        <img width="100%" src="{% static 'img/newsblog/Rectangle60.2.png' %}" alt="">
                        
                        <div class="box-content">
                            
                            <div class="pt-3">
                                <a href="#" class="m0p0 text__4" style="font-size: 15px; line-height: 22px;">
                                    <b>
                                        Top Buyer's Markets—and the Seller's Markets Seeing a Shift
                                    </b>
                                </a>
                            </div>

                            <div class="pt-3 pb-3 d-flex">
                                <div class="pt-2 pb-2 pr-2">
                                    <img src="{% static 'img/newsblog/Rectangle41.2.png' %}" alt="ava">
                                </div>
                                <div class="pt-1">
                                    <span class="text__5">
                                        <b>
                                            By Sophie French
                                        </b>
                                    </span>
                                    <br>
                                    
                                    <span class="text__gray">
                                        Jule 4th, 2019
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" m0p0" style="width: 24%;">

                        <img width="100%" src="{% static 'img/newsblog/Rectangle60.3.png' %}" alt="">
                        
                        <div class="box-content">
                            
                            <div class="pt-3">
                                <a href="#" class="m0p0 text__4" style="font-size: 15px; line-height: 22px;">
                                    <b>
                                        How to Find an Apartment With a Real Estate Agent's Help
                                    </b>
                                </a>
                            </div>

                            <div class="pt-3 pb-3 d-flex">
                                <div class="pt-2 pb-2 pr-2">
                                    <img src="{% static 'img/newsblog/Rectangle41.3.png' %}" alt="ava">
                                </div>
                                <div class="pt-1">
                                    <span class="text__5">
                                        <b>
                                            By Sophie French
                                        </b>
                                    </span>
                                    <br>
                                    
                                    <span class="text__gray">
                                        Jule 4th, 2019
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row m0p0">
        <div class="col-12 m0p0 d-flex justify-content-center ">
            <div class="col-9 mt-5 mb-5 m0p0">
                <h2>
                    Newest Updates
                </h2>
    
                <p>
                    Our realtors will deliver you the best offers and news about our service.
                </p>
                <form action="/"></form>
                    <div class="d-flex col-6 m0p0">
                        
                            <input type="text" class="form-control mr-5" name="inp" id="" placeholder="Enter your email adress">
                            <button type="submit" class="btn text-light" style="background-color: #D1964C;;">
                                Subscribe
                            </button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <!-- Дополнительный JavaScript; выберите один из двух! -->

    <!-- Вариант 1: Bootstrap в связке с Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Вариант 2: Bootstrap JS отдельно от Popper
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
{% endblock %}