{% extends 'layout.html' %}
{% load static %}
{% block body_content %}  
    <div class="content">
        <div class="row m0p0">
            <div class="col-lg-12 m0p0 d-flex justify-content-center">
                <div class="col-lg-12 m0p0" style="background-image: url({% static 'img/listyourproperty/Group 146.png' %}); height: 70vh;  background-position-x: right; background-repeat: no-repeat; background-size: 100%;">

                   <div style="position: relative; top: 15vh; left: 13rem; width: max-content;">
                        <h1 class="text-uppercase mb-5" style=" font-size: 52px; line-height: 115%;">
                            <b>
                                sell your home
                            </b>
                        </h1>

                        <p class="mb-5" style="line-height: 25px; font-size: 18px; font-weight: 600;">
                            Sell your home for free quickly and securely. <br> Sell a house or find out its value.
                        </p>
                        
                        <button class="text-light btn pb-2" style="background-color: #CB934A; width: 200px;">
                            Get started
                        </button>
                   </div>

                </div>
                
            </div>
            <div class="col-lg-12 d-flex justify-content-center m0p0" style="background-color: #F1F1F1;;">
                <div class="col-lg-9 m0p0 mb-5">
                    <h3 class="mt-5 mb-5">
                        <b>
                            A quick process to post on RealZain
                        </b>
                    </h3>

                    <div class="col-lg-12 m0p0 d-flex justify-content-between">

                        <div style="width:30%">
                            <div class="bg-light d-flex p-5" style="border-radius: 8px; border: 1px solid #CBD7D1;">
                               <div class="col-lg-1 m0p0">
                                    <span>
                                        1
                                    </span>
                               </div>   
                               <div class="col-lg-11 m0p0">
                                <p>
                                    <b>
                                        Fill in the basic information
                                    </b>
                                </p>
                                <a href="#" style="color: #A4ADAF; list-style: none; text-decoration: none;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                </a>
                               </div>
                            </div>
                        </div>

                        <div style="width:30%">
                            <div class="bg-light d-flex p-5" style="border-radius: 8px; border: 1px solid #CBD7D1;">
                               <div class="col-lg-1 m0p0">
                                    <span>
                                        2
                                    </span>
                               </div>   
                               <div class="col-lg-11 m0p0">
                                <p>
                                    <b>
                                        Attach the required documents
                                    </b>
                                </p>
                                <a href="#" style="color: #A4ADAF; list-style: none; text-decoration: none;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                </a>
                               </div>
                            </div>
                        </div>

                        <div style="width:30%">
                            <div class="bg-light d-flex p-5" style="border-radius: 8px; border: 1px solid #CBD7D1;">
                               <div class="col-lg-1 m0p0">
                                    <span>
                                        3
                                    </span>
                               </div>   
                               <div class="col-lg-11 m0p0">
                                <p>
                                    <b>
                                        The house appears on the site
                                    </b>
                                </p>
                                <a href="#" style="color: #A4ADAF; list-style: none; text-decoration: none;">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                </a>
                               </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}